<!-- HEADER SECTION -->
<div class="top-header beige-bg">
    <section id="header" class="container mx-auto py-12">
        <div class="flex">
            <div class="flex-none h-14">
                <img src="../assets/img/jekawin-logo.svg" alt="">
            </div>
            <div class="grow h-14">
                
            </div>
            <div class="flex-none h-14 pt-5">
                <button class="orange-bg rounded-3xl py-3 px-12 text-white">Join the waitlist</button>
            </div>
        </div>
    </section>
</div>

<!-- COMING SOON SECTION -->
<div class="top-coming-soon beige-bg">
    <section id="coming-soon" class="container mx-auto py-12 beige-bg">
        <div class="flex beige-bg">
            <div class="grow h-14 beige-bg">
                <p class="text-orange-500 beige-bg text-lg font-bold pb-5">Coming soon!</p>
                <p class="text-3xl font-bold purple-color pb-2">Don't be left behind.</p>
                <p class="pb-3 beige-bg">stand a chance to win gifts and reward <br /> points on jekawin.</p>
                <div class="beige-bg">
                    <div class="">
                        <form [formGroup]="userForm" (ngSubmit)="submitUser()" action="">
                            <div class="relative subscribe-box">
                                <input type="text" formControlName="email" class="h-14 pl-10 rounded-lg z-0 focus:shadow focus:outline-none"
                                    placeholder="Enter your email address">
                                <div class="second-box absolute top-2">
                                    <button class="h-10 w-23 px-2 text-white rounded-lg orange-bg hover:bg-orange-600">Join the waitlist</button>
                                </div>
                            
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="grow-0 h-14 black-bg">
    
            </div>
            <div class="grow">
                <img class="w-96" src="../assets/img/bingo-ball.svg" alt="">
            </div>
        </div>
    
    
    </section>
</div>
    
    

<!-- COUNTDOWN TIMER -->
<div id="top-countdown-timer">
    <section id="countdown-timer" class="relative">
        <!-- CURVED BACKGROUND -->
        <div class="custom-shape-divider-top-1647210470">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path
                    d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    </section>
    
    <div class="timer-content purple-color container mx-auto text-center">
        <ul class="flex justify-center">
            <li class="px-4">
                <span class="count-date font-bold text-3xl pb-2">Days</span><br/>
                <p class="count-date font-extrabold text-6xl beige-bg rounded-2xl mt-3 py-4 px-2">{{ days }}</p>
                <!-- <span class="count-date font-extrabold text-6xl beige-bg rounded-2xl">05</span> -->
            </li>
            <li class="px-4">
                <span class="font-bold text-3xl">
                    :
                </span>
            </li>
            <li class="px-4">
                <span class="count-date font-bold text-3xl">Hours</span><br />
                <!-- <span class="count-date font-bold text-6xl beige-bg rounded-2xl">53</span> -->
                <p class="count-date font-extrabold text-6xl beige-bg rounded-2xl mt-3 py-4 px-2">{{ hours }}</p>
            </li>
            <li class="px-4">
                <span class="font-bold text-3xl">
                    :
                </span>
            </li>
            <li class="px-4">
                <span class="count-date font-bold text-3xl">Mins</span><br />
                <!-- <span class="count-date font-bold text-6xl beige-bg rounded-2xl">32</span> -->
                <p class="count-date font-extrabold text-6xl beige-bg rounded-2xl mt-3 py-4 px-2">{{ mins }}</p>
            </li>
            <li class="px-4">
                <span class="count-date font-bold text-3xl">Secs</span><br />
                <!-- <span class="count-date font-bold text-6xl beige-bg rounded-2xl">32</span> -->
                <p class="count-date font-extrabold text-6xl beige-bg rounded-2xl mt-3 py-4 px-2">{{ secs }}</p>
            </li>
        </ul>
    </div>
</div>
    

<!-- FOOTER SECTION -->
<div class="top-footer purple-bg">
    <div class="relative purple-bg mt-32 text-white">
        <!-- CURVED BACKGROUND 2 -->
        <div class="custom-shape-2">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path
                    d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    
        <div id="footer-content" class="container mx-auto px-10 text-center">
            <div class="pb-5">
                <img class="mx-auto" src="../assets/img/white-jekawin-logo.svg" alt="">
            </div>
            <div class="pb-5">
                <p>Subscribe to get our Newsletter</p>
            </div>
            <div>
                <form action="">
                    <input type="text" class="rounded-lg py-2 px-4 bg-transparent border-solid border-2 border-white-100"
                        placeholder="Your Email">
                    <button class="orange-bg rounded-lg py-2 px-4 ml-2">Subscribe</button>
                </form>
            </div>
            <div class="footer-links mx-auto container">
                <ul class="pt-3 flex justify-center">
                    <li class="">Careers |</li>
                    <li class="pl-3"> Privacy Policy </li>
                    <li class="pl-3">| Terms & Conditions</li>
                </ul>
    
            </div>
            <div class="copyright pt-3">
                &copy; 2022 Jekawin
            </div>
        </div>
    </div>
</div>
    
    
