<section id="under-construction" class="grey-bg">
  <div class="relative h-screen w-full flex items-center justify-center bg-cover bg-center text-center">
    <div class="absolute top-0 right-0 bottom-0 left-0 bg-gray-900 opacity-75"></div>
    <div class="z-50 flex flex-col text-center justify-center items-center text-white w-full h-screen">
      <span class="text-bold py-6">LOGO</span>
      <h1 class="text-5xl">We are <b>Almost</b> there!</h1>
      <p class="py-6">Stay tuned for something amazing!!!</p>
    </div>
  </div>
</section>
