<div class="beige-bg">
    <!-- HEADER SECTION -->
    <section id="header" class="container mx-auto py-12">
        <div class="flex ...">
            <div class="flex-none h-14">
                <img src="../assets/img/jekawin-logo.svg" alt="">
            </div>
            <div class="grow h-14">
                
            </div>
            <div class="flex-none h-14 pt-5">
                <button class="orange-bg rounded-2xl py-3 px-12 text-white">Join the waitlist</button>
            </div>
        </div>
    </section>

    
</div>