/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */

body {
    font-family: 'Mulish', sans-serif;
}

.orange-bg {
    background-color: #fe7a01;
}

.black-bg {
    background-color: #464646;
}

.beige-bg {
    background-color: #fff3e4;
}