/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Mulish", sans-serif;
  /* background-color: #fff3e4; */
}

.orange-bg {
  background-color: #fe7a01;
}

.orange-color {
  color: #fe7a01;
}

.purple-bg {
  background-color: #543884;
}

.purple-color {
  color: #543884;
}

.purple-bg {
  background-color: #262254;
}

.black-bg {
  background-color: #464646;
}

.black-color {
  color: #464646;
}

.beige-bg {
  background-color: #fff3e4;
}

.beige-color {
  color: #fff3e4;
}

.subscribe-box input {
  width: 30rem;
}

.subscribe-box button {
  width: 10rem;
}

.second-box {
    left: 19rem;
}
