/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Mulish", sans-serif;
  /* background-color: #fff3e4; */
}

.orange-bg {
  background-color: #fe7a01;
}

.orange-color {
  color: #fe7a01;
}

.purple-bg {
  background-color: #543884;
}

.purple-color {
  color: #543884;
}

.purple-bg {
  background-color: #262254;
}

.black-bg {
  background-color: #464646;
}

.black-color {
  color: #464646;
}

.beige-bg {
  background-color: #fff3e4;
}



.beige-color {
  color: #fff3e4;
}

#coming-soon {
  clear: both;
}

.subscribe-box input {
  width: 30rem;
}

.subscribe-box button {
  width: 10rem;
}

.second-box {
  left: 19rem;
}

#countdown-timer {
  height: 200px;
  background-color: white;
  /* padding-top: 10rem; */
  /* margin-top: 12rem; */
}

.custom-shape-divider-top-1647210470 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1647210470 svg {
  position: relative;
  display: block;
  width: calc(272% + 1.3px);
  /* height: 411px; */
}

.custom-shape-divider-top-1647210470 .shape-fill {
  fill: #fff3e4;
}

.custom-shape-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-2 svg {
  position: relative;
  display: block;
  width: calc(272% + 1.3px);
  /* height: 411px; */
}

.custom-shape-2 .shape-fill {
  fill: white;
}

#footer-content {
  padding-top: 17rem;
  padding-bottom: 6rem;
}
